<div class="ui middle aligned selection divided list" *ngIf="books$ | async as books; else loading">
    <a class="bm-book-list-item item" *ngFor="let b of books" [book]="b" [routerLink]="b.isbn"></a>    
    <div *ngIf="books && !books.length">Es wurden noch keine Bücher hinzugefügt!</div>
</div>
<ng-template #loading>
  <div class="ui active dimmer">
   <div class="ui large text loader">Daten werden gelanden...</div>
  </div>
</ng-template>
