<h1 i18n="@@BookFormComponent:book form">Neues Buch anlegen</h1>
<form class="ui large form"
      [formGroup]="myForm"
      (ngSubmit)="submitForm()">
  <div class="field">
    <label>Buchtitel</label>
    <input formControlName="title">
    <div class="ui negative message" *ngIf="errors.title">
      {{errors.title}}
    </div>
  </div>
  <div class="field">
    <label>Untertitel</label>
    <input formControlName="subtitle">
    <div class="ui negative message" *ngIf="errors.subtitle">
      {{errors.subtitle}}
    </div>
  </div>
  <div class="field" [class.disabled]="isUpdatingBook">
    <label>ISBN-Nummer</label>
    <input formControlName="isbn">
    <div class="ui negative message" *ngIf="errors.isbn">
      {{errors.isbn}}
    </div>
  </div>
  <div class="field">
    <label>Erscheinungsdatum</label>
    <input type="date"
           formControlName="published"
           useValueAsDate>
    <div class="ui negative message" *ngIf="errors.published">
      {{errors.published}}
    </div>
  </div>
  <div class="field">
    <label i18n="@@BookFormComponent:book authors">Autoren</label>
    <div class="fields" formArrayName="authors">
      <div class="fifteen wide field" *ngFor="let control of authors.controls; index as i">
        <input [formControlName]="i" placeholder="Author" i18n-placeholder="@@BookFormComponent:author placeholder">
      </div>
      <div class="one wide field">
        <button (click)="addAuthorControl()" class="ui large button" type="button"> + </button>
      </div>
    </div>
    <div class="ui negative message" *ngIf="errors.authors">
      {{errors.authors}}
    </div>
  </div>
  <div class="field">
    <label>Beschreibung</label>
    <textarea formControlName="description" rows="3"></textarea>
  </div>
  <div class="field">
    <label>Bilder</label>
    <div formArrayName="thumbnails">
      <div  class="fields" 
            *ngFor="let control of thumbnails.controls; index as i; last as l" 
            [formGroupName]="i">
        <div class="nine wide field">
          <input formControlName="url" placeholder="http://bild{{i+1}}_Url">
        </div>
        <div class="six wide field">
          <input formControlName="title" placeholder="Bild {{i+1}}-Titel">
        </div>
        <div class="one wide field"  *ngIf="l">
          <button (click)="addThumbnailsControl()" class="ui large button"> + </button>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="ui button" [disabled]="myForm.invalid">Speichern</button>
</form>