<!--The content below is only a placeholder and can be replaced.-->
<div [ngStyle]="{padding: '20px'}">
  <div class="bm-search"></div>
  <div class="ui three item tabs menu">
    <div class="item mainmenu" routerLink="home" routerLinkActive="active">Home</div>
    <div class="item mainmenu" routerLink="books" routerLinkActive="active">Bücher</div>
    <div class="item mainmenu" routerLink="admin" routerLinkActive="active">Administration</div>
  </div>
  <router-outlet></router-outlet>
</div>
