<img class="ui tiny image"
*ngIf="book.thumbnails"
[src]="book.thumbnails[0].url"
bmZoom>
<div class="content">
  <div class="header">{{ book.title }}</div>
  <div class="description">{{ book.subtitle }}</div>
  <div class="metadata">
    <span *ngFor="let author of book.authors; last as l">
      {{ author }} <span *ngIf="!l">,</span> 
    </span>
  </div>
  <div class="extra">{{ book.isbn | isbn:true }}</div>
</div>