/* You can add global styles to this file, and also import other style files */
*{
    outline: none;
}

.mainmenu{
    cursor: pointer;
}

.faded-out{
    opacity: 0;
}

@keyframes fade-in{
    from {opacity: 0}
    to { opacity: 1}
}

.faded{
    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

[i18n],
[i18n-placeholder],
[i18n-title]{
    border: 1px solid green !important;
}