<div class="ui search" [ngClass]="{loading: isLoading}">
  <div class="ui icon input">
    <input type="text" (keyup)="keyup.emit(searchTerm.value)" #searchTerm class="prompt" placeholder="Suche..." >
    <i class="icon search"></i>
  </div>
  <div class="results transition" [ngClass]="{visible: foundBooks.length}">
    <a href (click)="bookSelected.emit(book); false;" class="result" *ngFor="let book of foundBooks">
      <div class="content">
        <div class="title">{{book.title}}</div>
      </div>
    </a>
  </div>
</div>