<div class="ui container two column grid">
    <div class="ui container column">
        <h1 i18n="@@HomeComponent:header">Home</h1>
        <p i18n="a proud sentence about the project@@HomeComponent:tagline">Willkommen beim BookMonkey</p>
        <a class="ui button red" routerLink="../books">
            <ng-container i18n="Text of the link to the books screen@@HomeComponent:book list link">Zu den Büchern</ng-container>
            <i class="right arrow icon"></i>
        </a>
    </div>
    <bm-search class="column" (bookSelected)="bookSelected($event)"></bm-search>
</div>
