<div class="ui grid" *ngIf="book">
  <div class="four wide column">
    <img [src]="book.thumbnails[0].url" class="ui large image" alt="Buchbild">
  </div>
  <div class="twelve wide column">
    <h1 class="ui header">{{book?.title}}</h1>
    <h3 class="ui header">{{book?.subtitle}}</h3>
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="four wide column">
        <h4 class="ui header">Autoren</h4>
        <span *ngFor="let author of book?.authors; last as l">
          {{author}} <span *ngIf="!l">,</span>
        </span>
      </div>
      <div class="four wide column">
        <h4 class="ui header">ISBN</h4>
        {{book?.isbn | isbn:false}}
      </div>
      <div class="four wide column">
        <h4 class="ui header">Erschienen</h4>
        {{book?.published | date:'dd. MM. yyyy'}}
      </div>
      <div class="four wide column">
        <h4 class="ui header">Rating</h4>
        <span *ngFor="let r of getRating(book?.rating); index as i">
          <i class="yellow star icon" *bmDelay="500 + i * 1000"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="sixteen wide column">
    <h3 class="ui header">Beschreibung</h3>
    {{book?.description}}
  </div>
  <div class="sixteen wide column">
    <div class="ui small images">
      <img *ngFor="let thumbnail of book?.thumbnails" [src]="thumbnail.url">
    </div>
  </div>
</div>
<a routerLink="/books" class="ui tiny button green">Zurück zur Buchliste</a>
<a class="ui button tiny red labeled icon" (click)="removeBook()">
  <i class="remove icon"></i>Buch löschen
</a>
<a class="ui button tiny yellow labeled icon" [routerLink]="['../../admin', book?.isbn]">
  <i class="write icon"></i>Buch bearbeiten
</a>